.card__text h1 {
  color: #bfad99;
  font-weight: lighter;
  font-size: 3em;
}

.card__text h2 {
  color: #014751;
  font-size: 1em;
}

.card__text h3 {
  color: #014751;
  font-size: 0.9em;
  font-style: italic;
  font-weight: normal;
}

ul li {
  list-style: none;
  color: #014751;
  font-size: 0.9em;
}

.radio-multilinea {
  height: 60px;
}

.radio-multilinea label {
  height: 60px;
  white-space: inherit;
}

.teal.darken-4 {
  background-color: #004750 !important;
  border-color: #004750 !important;
}

.list__tile--active {
  color: #fff !important;
}

/*.input-group--selection-controls.radio { height: calc(100% - 30px) }*/
.input-group--selection-controls.radio { height: 100% }

.input-group--selection-controls label {
  max-width: calc(100% - 32px) !important;
  white-space: normal;
  height: auto;
}
