<template>
  <v-container grid-list-md>
    <v-layout row>
      <v-flex xs12>
        <v-card flat>
          <v-card-text class="px-4">
            <h1>Gastronomía</h1>
            <h2>BARRA DE TRAGOS</h2>
            <v-layout row>
              <v-flex xs6 class="mr-3" v-for="item in categoriaGastronomia.gastronomias" :key="item.id">
                <v-checkbox
                  :label="item.nombre"
                  :value="item.id"
                  v-model="form.gastronomias"
                  hide-details
                ></v-checkbox>
                <ul class="subitems"  v-if="!item.incluye">
                  <li v-for="subItem in item.items" :key="subItem.id">
                    <v-checkbox
                      :label="subItem.titulo"
                      hide-details

                    ></v-checkbox>

                  </li>
                </ul>
                <ul class="subitems" v-if="item.incluye">
                  <li v-for="subItem in item.items" :key="subItem.id">
                    <v-icon>done</v-icon> {{subItem.titulo}}
                  </li>
                </ul>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
        <v-btn color="success" @click="siguiente">Siguiente</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import TipoDeGastronomia from '~/apollo/queries/categorias_con_items'
  import CargarLineas from '~/apollo/mutations/cargar_lineas'

  export default {
    data() {
      return {
        categoriaGastronomia: {},
        form: {
          gastronomias: []
        }
      };
    },
    apollo: {
      categoriaGastronomia: {
        prefetch: true,
        query: TipoDeGastronomia,
        variables: {
          nombre: 'Barra de Tragos'
        }
      }
    },
    mounted() {
      if (this.$store.state.cotizacion.lineas['barra-de-tragos']) {
        this.$data.form.gastronomias = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas['barra-de-tragos'].gastronomias));
      }
    },
    methods: {
      siguiente() {
        this.$store.commit('cotizacion/setCotizacionLinea', {linea: 'barra-de-tragos', datos: JSON.parse(JSON.stringify(this.form))});

        const gastronomias = [];

        this.form.gastronomias.forEach((item) => {
          gastronomias.push({
            cotizacionId: this.$store.state.cotizacion.id,
            gastronomiaId: item,
            categoriaId: this.categoriaGastronomia.id,
            valor: null,
            cantidad: null
          });
        });

        this.$apollo.mutate({
          mutation: CargarLineas,
          variables: {
            categoriaId: this.categoriaGastronomia.id,
            cotizacionId: this.$store.state.cotizacion.id,
            lineas: gastronomias
          }
        }).then((data) => {
          this.$toast.success(data.data.cargarLineas.message);
          this.$router.push('/gastronomia/mesa-dulce')
        }).catch((data) => {
          this.$toast.success(data.data.cargarLineas.message);
        });

      }
    }
  };
</script>

<style scoped>
  .subitems {
    margin-left: 20px
  }
</style>
