<template>
  <v-container grid-list-md>
    <v-layout row>
      <v-flex xs12 v-if="categoriaGastronomia.categorias">

        <v-card flat>
          <v-card-text class="px-4">
            <h1>Gastronomía</h1>
            <h2>BRINDIS</h2>

            <v-layout row wrap>
              <v-flex xs4 v-for="categoria  in categoriaGastronomia.categorias" :key="categoria.id" v-if="categoria.esIsla === true">
                <v-checkbox
                  v-if="categoria.esIsla"
                  :key="categoria.id"
                  :label="categoria.nombre"
                  hide-details
                  v-model="form.gastronomias"
                  :value="categoria.id"
                ></v-checkbox>

                <ul v-if="categoria.esIsla">
                  <li
                    v-for="item in categoria.gastronomias"
                    :key="item.id"
                  >
                    {{item.nombre}}
                  </li>
                </ul>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
        <v-btn color="success" @click="siguiente">Siguiente</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import TipoDeGastronomia from '~/apollo/queries/categorias_con_items'
  import CargarLineas from '~/apollo/mutations/cargar_lineas'

  export default {
    data() {
      return {
        categoriaGastronomia: {},
        form: {
          gastronomias: []
        }
      };
    },
    mounted() {
      if (this.$store.state.cotizacion.lineas['brindis']) {
        this.$data.form.gastronomias = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas.brindis.gastronomias));
      }
    },
    methods: {
      siguiente() {
        this.$store.commit('cotizacion/setCotizacionLinea', {linea: 'brindis', datos: JSON.parse(JSON.stringify(this.form))});

        const items = [];

        this.form.gastronomias.forEach((isla) => {
          items.push({
            cotizacionId: this.$store.state.cotizacion.id,
            gastronomiaId: 0,
            categoriaId: isla,
            valor: null,
            cantidad: null
          });
        });



        this.$apollo.mutate({
          mutation: CargarLineas,
          variables: {
            categoriaId: this.categoriaGastronomia.id,
            cotizacionId: this.$store.state.cotizacion.id,
            lineas: items
          }
        }).then((data) => {
          this.$toast.success(data.data.cargarLineas.message);
          this.$router.push('/gastronomia/barra-de-tragos')
        }).catch((data) => {
          this.$toast.success(data.data.cargarLineas.message);
        });
      }
    },
    apollo: {
      categoriaGastronomia: {
        prefetch: true,
        query: TipoDeGastronomia,
        variables: {
          nombre: 'Brindis.'
        }
      }
    }
  };
</script>

<style scoped>
  .opcion1 {
    padding-top: 0
  }
</style>
