<template>
  <v-container grid-list-md>
    <v-layout row>
      <v-flex xs12 v-if="categoriaGastronomia.categorias">
        <v-card flat>
          <v-card-text class="px-4">
            <h1>Gastronomía</h1>
            <h2>BUFFET POR ISLAS</h2>

            <v-layout row wrap>
              <v-flex xs4 v-for="categoria  in categoriaGastronomia.categorias" :key="categoria.id" v-if="categoria.esIsla === false">
                <h3 v-if="categoria.nombre != 'Bebidas'">{{categoria.nombre}} <span>// Elegir 3 opciones</span></h3>
                <v-checkbox
                  v-for="item in categoria.gastronomias"
                  v-if="categoria.nombre !== 'Bebidas'"
                  :key="item.id"
                  :label="item.nombre"
                  hide-details
                  v-model="form.gastronomias"
                  :value="item.id"
                  :disabled="alcanzoLimite(categoria.id, item.id)"
                ></v-checkbox>
                <h3 v-if="categoria.nombre === 'Bebidas'">{{categoria.nombre}} <span>// Incluidas</span></h3>

                <ul style="padding:0" v-if="categoria.nombre === 'Bebidas'">
                  <li v-for="item in categoria.gastronomias" :key='item.id'><v-icon>done</v-icon>{{item.nombre}}</li>
                </ul>
                <span v-if="categoria.nombre === 'Bebidas'" style="margin-top:20px;display: block;">Consultar opciones vino alta gama</span>


              </v-flex>

            </v-layout>
            <h2>ISLAS <small>Elegir 4 opciones</small> </h2>
            <v-layout row wrap>
              <v-flex xs4 v-for="categoria  in categoriaGastronomia.categorias" :key="categoria.id" v-if="categoria.esIsla === true">
                <v-checkbox
                  v-if="categoria.esIsla"
                  :key="categoria.id"
                  :label="categoria.nombre"
                  hide-details
                  v-model="form.islas"
                  :value="categoria.id"
                  :disabled="form.islas.length >= 4 && form.islas.indexOf(categoria.id) === -1"
                ></v-checkbox>

                <ul style="padding:0" v-if="categoria.esIsla">
                  <li
                    v-for="item in categoria.gastronomias"
                    :key="item.id"
                  >
                    <v-icon>done</v-icon>{{item.nombre}}
                  </li>
                </ul>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
        <v-btn color="success" @click="siguiente">Siguiente</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import TipoDeGastronomia from '~/apollo/queries/categorias_con_items'
  import CargarLineas from '~/apollo/mutations/cargar_lineas'

  export default {
    data() {
      return {
        categoriaGastronomia: {},
        form: {
          gastronomias: [],
          islas: []
        }
      };
    },
    mounted() {
      if (this.$store.state.cotizacion.lineas['buffet-por-islas']) {
        this.$data.form.islas = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas['buffet-por-islas'].islas));
        this.$data.form.gastronomias = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas['buffet-por-islas'].gastronomias));
      }
    },
    methods: {
      alcanzoLimite(categoria_id, item_id) {
        let categorias = this.$data.categoriaGastronomia.categorias.filter(item => item.esIsla === false).map(x => x.gastronomias).map(x => x.filter(z => z.categoriaId === parseInt(categoria_id)).map(x => x.id)).filter(x => x.length > 0)
        let ocurrencias = this.$data.form.gastronomias.filter(x => categorias[0].indexOf(x) !== -1);
        return ocurrencias.length >= 3 && this.$data.form.gastronomias.indexOf(item_id) === -1;
      },
      siguiente() {
        this.$store.commit('cotizacion/setCotizacionLinea', {linea: 'buffet-por-islas', datos: JSON.parse(JSON.stringify(this.form))});

        const gastronomias = [];
        const islas = [];

        this.form.gastronomias.forEach((item) => {
          gastronomias.push({
            cotizacionId: this.$store.state.cotizacion.id,
            gastronomiaId: item,
            categoriaId: this.categoriaGastronomia.id,
            parentCategoriaId: 0,
            valor: null,
            cantidad: null
          });
        });

        this.form.islas.forEach((isla) => {
          islas.push({
            cotizacionId: this.$store.state.cotizacion.id,
            gastronomiaId: 0,
            categoriaId: isla,
            parentCategoriaId: this.categoriaGastronomia.id,
            valor: null,
            cantidad: null
          });
        });



        this.$apollo.mutate({
          mutation: CargarLineas,
          variables: {
            categoriaId: this.categoriaGastronomia.id,
            cotizacionId: this.$store.state.cotizacion.id,
            lineas: gastronomias.concat(islas)
          }
        }).then((data) => {
          this.$toast.success(data.data.cargarLineas.message);
          this.$router.push('/gastronomia/buffet')
        }).catch((data) => {
          this.$toast.success(data.data.cargarLineas.message);
        });
      }
    },
    apollo: {
      categoriaGastronomia: {
        prefetch: true,
        query: TipoDeGastronomia,
        variables: {
          nombre: 'Buffet por Islas'
        }
      }
    }
  };
</script>

<style scoped>
  .opcion1 {
    padding-top: 0
  }
</style>
