<template>
  <v-container grid-list-md>
    <v-layout row>
      <v-flex xs12 v-if="categoriaGastronomia.categorias">

        <v-card flat>
          <v-card-text class="px-4">
            <h1>Gastronomía</h1>
            <h2>BUFFET</h2>

            <v-layout row wrap>
              <v-flex xs4 v-for="categoria  in categoriaGastronomia.categorias" :key="categoria.id" v-if="categoria.esIsla === false">
                <h3 v-if="categoria.nombre === 'Ensaladas'">{{categoria.nombre}} <span>// Elegir 2 opciones</span></h3>
                <h3 v-else-if="categoria.nombre === 'Calientes'">{{categoria.nombre}} <span>// Elegir 2 opciones</span></h3>
                <h3 v-else-if="categoria.nombre === 'Vegetarianos'">{{categoria.nombre}} <span>// Elegir 1 opción</span></h3>
                <h3 v-else-if="categoria.nombre === 'Petit Patisserie'">{{categoria.nombre}} <span>// Incluidos</span></h3>

                <h3 v-else-if="categoria.nombre === 'Bebidas'">{{categoria.nombre}} <span>// Incluidos</span></h3>
                <h3 v-else-if="categoria.nombre === 'Fríos'">{{categoria.nombre}} <span>// Incluidos</span></h3>
                <h3 v-else-if="categoria.nombre !== 'Bebidas'">{{categoria.nombre}} <span>// Elegir 3 opciones</span></h3>
                <!--v-if="categoria.nombre !== 'Bebidas' && categoria.nombre !== 'Fríos' && categoria.nombre !== 'Petit Patisserie'"-->

                <ul style="padding:0" v-if="incluidos.includes(categoria.nombre) || categoria.nombre === 'Bebidas'">
                  <li v-if="item.incluida === true" v-for="item in categoria.gastronomias" :key='item.id'><v-icon>done</v-icon>{{item.nombre}}</li>
                </ul>

                <v-checkbox
                  v-for="item in categoria.gastronomias"
                  :key="item.id"
                  v-if="!incluidos.includes(categoria.nombre) && item.incluida === false"
                  :label="item.nombre"
                  hide-details
                  v-model="form.gastronomias"
                  :value="item.id"
                  :disabled="alcanzoLimite(categoria.id, item.id, cantidadDeItems(categoria.nombre))"
                ></v-checkbox>

              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
        <v-btn color="success" @click="siguiente">Siguiente</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import TipoDeGastronomia from '~/apollo/queries/categorias_con_items'
  import CargarLineas from '~/apollo/mutations/cargar_lineas'

  export default {
    data() {
      return {
        categoriaGastronomia: {},
        incluidos: ['Fríos', 'Petit Patisserie'],
        form: {
          gastronomias: []
        }
      };
    },
    mounted() {
      if (this.$store.state.cotizacion.lineas['buffet']) {
        this.$data.form.gastronomias = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas.buffet.gastronomias));
      }
    },
    methods: {

      cantidadDeItems(categoria) {
        if (categoria === 'Ensaladas' || categoria === 'Calientes') {
          return 2
        } else if (categoria === 'Vegetarianos') {
          return 1
        } else {
          return 3
        }
      },
      alcanzoLimite(categoria_id, item_id, cantidad = 3) {
        let categorias = this.$data.categoriaGastronomia.categorias.filter(item => item.esIsla === false).map(x => x.gastronomias).map(x => x.filter(z => z.categoriaId === parseInt(categoria_id)).map(x => x.id)).filter(x => x.length > 0)
        var ocurrencias = this.$data.form.gastronomias.filter(x => categorias[0].indexOf(x) != -1)
        return ocurrencias.length >= cantidad && this.$data.form.gastronomias.indexOf(item_id) === -1;
      },
      siguiente() {
        this.$store.commit('cotizacion/setCotizacionLinea', {linea: 'buffet', datos: JSON.parse(JSON.stringify(this.form))});

        const gastronomias = [];

        this.form.gastronomias.forEach((item) => {
          gastronomias.push({
            cotizacionId: this.$store.state.cotizacion.id,
            gastronomiaId: item,
            categoriaId: this.categoriaGastronomia.id,
            valor: null,
            cantidad: null
          });
        });

        this.$apollo.mutate({
          mutation: CargarLineas,
          variables: {
            categoriaId: this.categoriaGastronomia.id,
            cotizacionId: this.$store.state.cotizacion.id,
            lineas: gastronomias
          }
        }).then((data) => {
          this.$toast.success(data.data.cargarLineas.message);
          this.$router.push('/gastronomia/finger-food')
        }).catch((data) => {
          this.$toast.success(data.data.cargarLineas.message);
        });
      }
    },
    apollo: {
      categoriaGastronomia: {
        prefetch: true,
        query: TipoDeGastronomia,
        variables: {
          nombre: 'Buffet'
        }
      }
    }
  };
</script>

<style scoped>
  .opcion1 {
    padding-top: 0
  }
</style>
