<template>
  <v-container grid-list-md>
    <v-layout row>
      <v-flex xs8>
        <v-card flat>
          <v-card-text class="px-4" v-if="form.length > 0">
            <h1>Gastronomía</h1>
            <h2>COFFEE BREAK</h2>
            <v-layout row v-for="(item, index) in categoriaGastronomia.gastronomias" :key="item.nombre">
              <v-flex xs1 class="mr-3">
                <v-checkbox
                  v-model="form[index].activado"
                ></v-checkbox>
              </v-flex>
              <v-flex xs2 class="mr-3" v-if="item.conCantidad">
                <v-text-field
                  class="opcion1"
                  placeholder="Cant."
                  v-model="form[index].cantidad"
                  single-line
                  flat
                  type="number"
                  row-height=10
                ></v-text-field>
              </v-flex>
              <v-flex xs8>
                <h2>{{item.nombre}}</h2>
                {{item.descripcion}}
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
        <v-btn color="success" @click="siguiente">Siguiente</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import TipoDeGastronomia from '~/apollo/queries/tipo_de_gastronomias'
  import CargarLineas from '~/apollo/mutations/cargar_lineas'

export default {
  data() {
    return {
      form: [],
      categoriaGastronomia: {}
    };
  },
  methods: {
    siguiente() {
      this.$store.commit('cotizacion/setCotizacionLinea', {linea: 'coffee-break', datos: JSON.parse(JSON.stringify(this.form))});

      const lineas = [];
      this.form.forEach((item) => {
        if (item.activado === true) {
            lineas.push({
            cotizacionId: this.$store.state.cotizacion.id,
            gastronomiaId: item.id,
            categoriaId: this.categoriaGastronomia.id,
            valor: item.activado,
            cantidad: item.cantidad
          });
        }
      });

      this.$apollo.mutate({
        mutation: CargarLineas,
        variables: {
          categoriaId: this.categoriaGastronomia.id,
          cotizacionId: this.$store.state.cotizacion.id,
          lineas: lineas
        }
      }).then((data) => {
        this.$toast.success(data.data.cargarLineas.message);
        this.$router.push('/gastronomia/menus-adultos')
      }).catch((data) => {
        this.$toast.success(data.data.cargarLineas.message);
      });
    }
  },
  updated() {
    /*this.$nextTick(function () {
      // Code that will run only after the
      // entire view has been re-rendered
      for (let i = 0; i < this.tipoGastronomia.gastronomias.length; i++) {
        console.log('listo', i);
        this.form.push({
          valor: null,
          cantidad: null
        })
      }
    })*/
  },
  apollo: {
    categoriaGastronomia: {
      prefetch: true,
      query: TipoDeGastronomia,
      variables: {
        nombre: 'Coffee Break'
      },
      result({data}) {
        const form = [];
        for (let i = 0; i < data.categoriaGastronomia.gastronomias.length; i++) {
          form.push({
            id: data.categoriaGastronomia.gastronomias[i].id,
            activado: false,
            cantidad: null
          })
        }
        if (this.$store.state.cotizacion.id != null && this.$store.state.cotizacion.lineas['coffee-break']) {
          this.form = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas['coffee-break']));
        } else {
          this.form = form;
        }

      }
    }
  }
};
</script>

<style scoped>
  .opcion1 {
    padding-top: 0
  }
</style>
