<template>
  <v-container grid-list-md>
    <v-layout row>
      <v-flex xs12 v-if="categoriaGastronomia.categorias">

        <v-card flat>
          <v-card-text class="px-4">
            <h1>Gastronomía</h1>
            <h2>EJECUTIVO</h2>

            <v-layout row wrap>
              <v-flex xs4 v-for="(categoria, index)  in categoriaGastronomia.categorias" :key="categoria.id" v-if="categoria.esIsla === false">
                <h3 v-if="categoria.nombre !== 'Bebidas'">{{categoria.nombre}} <span>// Elegir 1 opción</span>
                  <v-btn flat icon color="red" @click="deselect(index)">
                    <v-icon>highlight_off</v-icon>
                  </v-btn></h3>
                <h3 v-if="categoria.nombre === 'Bebidas'">{{categoria.nombre}}</h3>

                <v-radio-group v-model="form.gastronomias[index]" v-if="categoria.nombre !== 'Bebidas'">

                  <v-radio
                    v-for="item in categoria.gastronomias"
                    :key="item.id"
                    :label="item.nombre"
                    hide-details
                    :value="item.id"
                  ></v-radio>
                </v-radio-group>

                <li v-if="item.incluida === true" v-for="item in categoria.gastronomias" :key='item.id'><v-icon>done</v-icon>{{item.nombre}}</li>

                <v-checkbox
                  v-for="item in categoria.gastronomias"
                  v-if="categoria.nombre === 'Bebidas' && item.incluida === false"
                  :key="item.id"
                  :label="item.nombre"
                  hide-details
                  v-model="form.bebidas"
                  :value="item.id"
                ></v-checkbox>

                <!--<ul v-if="categoria.nombre === 'Bebidas'">
                  <li v-for="item in categoria.gastronomias" :key='item.id'><v-icon>done</v-icon>{{item.nombre}}</li>
                </ul>
                -->

              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
        <v-btn color="success" @click="siguiente">Siguiente</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import TipoDeGastronomia from '~/apollo/queries/categorias_con_items'
  import CargarLineas from '~/apollo/mutations/cargar_lineas'

  export default {
    data() {
      return {
        categoriaGastronomia: {},
        form: {
          gastronomias: [],
          bebidas: []
        }
      };
    },
    mounted() {
      if (this.$store.state.cotizacion.lineas['ejecutivo']) {
        this.$data.form.gastronomias = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas.ejecutivo.gastronomias));
        this.$data.form.bebidas = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas.ejecutivo.bebidas));
      }
    },
    methods: {
      deselect(index) {
        this.form.gastronomias[index] = "";
        this.$forceUpdate();
      },
      siguiente() {
        this.$store.commit('cotizacion/setCotizacionLinea', {linea: 'ejecutivo', datos: JSON.parse(JSON.stringify(this.form))});

        const gastronomias = [];

        this.form.gastronomias.forEach((item) => {
          if (item !== "")
            gastronomias.push({
              cotizacionId: this.$store.state.cotizacion.id,
              gastronomiaId: item,
              categoriaId: this.categoriaGastronomia.id,
              valor: null,
              cantidad: null
            });
        });

        this.form.bebidas.forEach((item) => {
          if (item !== "")
            gastronomias.push({
              cotizacionId: this.$store.state.cotizacion.id,
              gastronomiaId: item,
              categoriaId: this.categoriaGastronomia.id,
              valor: null,
              cantidad: null
            });
        });

        this.$apollo.mutate({
          mutation: CargarLineas,
          variables: {
            categoriaId: this.categoriaGastronomia.id,
            cotizacionId: this.$store.state.cotizacion.id,
            lineas: gastronomias
          }
        }).then((data) => {
          this.$toast.success(data.data.cargarLineas.message);
          this.$router.push('/gastronomia/brindis')
        }).catch((data) => {
          this.$toast.success(data.data.cargarLineas.message);
        });
      }
    },
    apollo: {
      categoriaGastronomia: {
        prefetch: true,
        query: TipoDeGastronomia,
        variables: {
          nombre: 'Ejecutivo'
        }
      }
    }
  };
</script>

<style scoped>
  .opcion1 {
    padding-top: 0
  }
  li {
    list-style: none;
  }
</style>
