<template>
  <v-container grid-list-md>
    <v-layout row>
      <v-flex xs8>
        <v-card flat>
          <v-card-text class="px-4" v-if="form.length > 0">
            <h1>Gastronomía</h1>
            <h2>FIN DE FIESTA</h2>
            <v-layout row v-for="(item, index) in categoriaGastronomia.gastronomias" :key="item.nombre">
              <v-flex xs8>
                <v-checkbox
                  v-model="form[index].activado"
                  :label="item.nombre"
                ></v-checkbox>

              </v-flex>
              <v-flex xs4></v-flex>
              <v-flex v-if="item.conCantidad" xs4>
                <v-text-field
                  placeholder="Cant."
                  single-line
                  flat
                  type="number"
                  row-height=10
                  class="opcion1"
                  v-model="form[index].cantidad"
                />
              </v-flex>
              <v-flex>
                <span>{{item.descripcion}}</span>
              </v-flex>
            </v-layout>


          </v-card-text>
        </v-card>
        <v-btn color="success" @click="siguiente">Siguiente</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import TipoDeGastronomia from '~/apollo/queries/categorias_con_items'
  import CargarLineas from '~/apollo/mutations/cargar_lineas'

  export default {
    data() {
      return {
        categoriaGastronomia: {},
        form: []
      };
    },
    apollo: {
      categoriaGastronomia: {
        prefetch: true,
        query: TipoDeGastronomia,
        variables: {
          nombre: 'Fin de Fiesta'
        },
        result({data}) {
          const form = [];
          console.log(data.categoriaGastronomia.gastronomias.length);
          for (let i = 0; i < data.categoriaGastronomia.gastronomias.length; i++) {
            form.push({
              id: data.categoriaGastronomia.gastronomias[i].id,
              activado: false,
              cantidad: null
            })
          }
          if (this.$store.state.cotizacion.id != null && this.$store.state.cotizacion.lineas['fin-de-fiesta']) {
            this.form = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas['fin-de-fiesta']));
          } else {
            this.form = form;
          }

        }
      }
    },
    methods: {
      siguiente() {
        this.$store.commit('cotizacion/setCotizacionLinea', {linea: 'fin-de-fiesta', datos: JSON.parse(JSON.stringify(this.form))});

        const lineas = [];
        this.form.forEach((item) => {
          console.log(item);
          if (item.activado === true) {
            lineas.push({
              cotizacionId: this.$store.state.cotizacion.id,
              gastronomiaId: item.id,
              categoriaId: this.categoriaGastronomia.id,
              valor: item.activado,
              cantidad: item.cantidad
            });
          }
        });

        this.$apollo.mutate({
          mutation: CargarLineas,
          variables: {
            categoriaId: this.categoriaGastronomia.id,
            cotizacionId: this.$store.state.cotizacion.id,
            lineas: lineas
          }
        }).then((data) => {
          this.$toast.success(data.data.cargarLineas.message);
          this.$router.push('/cotizacion')
        }).catch((data) => {
          this.$toast.success(data.data.cargarLineas.message);
        });
      }
    }
  };
</script>

<style scoped>
  .opcion1 {
    padding-top: 0
  }
</style>
