<template>
  <v-container grid-list-md>
    <v-layout row>
      <v-flex xs12 v-if="menus.length > 0">

        <v-tabs
              v-model="active"
              color="white"
              slider-color="grey"
            >
            <template v-for="tab in 3" >
              <v-tab :key="tab" ripple>
                Menú {{ tab }}
              </v-tab>
              <v-tab-item
                :key="'item' + tab"
              >
                <v-card flat>
                  <v-card-text class="px-4">
                    <h1>Gastronomía</h1>
                    <h2>MENÚS ADULTOS</h2>

                    <v-layout row wrap v-if="menus[tab - 1]">
                      <v-flex xs4 v-for="categoria in menus[tab - 1].categorias" :key="'cat' + categoria.id">
                        <template v-if="categoria.nombre === 'Entrada'">
                          <h3>{{categoria.nombre}} <span>// Elegir 1 opción</span>
                            <v-btn flat icon color="red" @click="deselect('entradas', tab - 1)">
                              <v-icon>highlight_off</v-icon>
                            </v-btn></h3>

                          <v-radio-group v-model="form.entradas[tab-1]">
                            <v-radio
                              v-for="item in categoria.gastronomias"
                              :key="item.id"
                              :label="item.nombre"
                              hide-details
                              :value="item.id"
                            ></v-radio>
                          </v-radio-group>
                        </template>
                        <template v-if="categoria.nombre === 'Principal'">
                          <h3>{{categoria.nombre}} <span>// Elegir 1 opción</span>
                            <v-btn flat icon color="red" @click="deselect('principales', tab - 1)">
                              <v-icon>highlight_off</v-icon>
                            </v-btn></h3>
                          <v-radio-group v-model="form.principales[tab-1]">
                            <v-radio
                              v-for="item in categoria.gastronomias"
                              :key="item.id"
                              :label="item.nombre"
                              hide-details
                              :value="item.id"
                            ></v-radio>
                          </v-radio-group>
                        </template>
                        <template v-if="categoria.nombre === 'Postre'">
                          <h3>{{categoria.nombre}} <span>// Elegir 1 opción</span>
                            <v-btn flat icon color="red" @click="deselect('postres', tab - 1)">
                              <v-icon>highlight_off</v-icon>
                            </v-btn></h3>
                          <v-radio-group v-model="form.postres[tab-1]">
                            <v-radio
                              v-for="item in categoria.gastronomias"
                              :key="item.id"
                              :label="item.nombre"
                              hide-details
                              :value="item.id"
                            ></v-radio>
                          </v-radio-group>
                        </template>
                        <template v-if="categoria.nombre !== 'Postre' && categoria.nombre != 'Entrada' && categoria.nombre !== 'Principal'">
                          <h3 v-if="categoria.nombre !== 'Bebidas'">{{categoria.nombre}} <span>// Elegir 3 opciones</span></h3>
                          <v-checkbox
                            v-if="item.incluida === false"
                            v-for="item in categoria.gastronomias"
                            :key="item.id"
                            :label="item.nombre"
                            hide-details
                            v-model="form.menus[tab-1]"
                            :value="item.id"
                            :disabled="alcanzoLimite(tab-1,categoria.id, item.id)"

                          ></v-checkbox>

                          <h3 v-if="categoria.nombre === 'Bebidas'">{{categoria.nombre}} <span>// Incluidas</span></h3>
                          <ul style="padding:0" v-if="categoria.nombre === 'Bebidas'">
                            <li v-for="item in categoria.gastronomias" :key='item.id'><v-icon>done</v-icon>{{item.nombre}}</li>
                          </ul>
                          <span v-if="categoria.nombre === 'Bebidas'" style="margin-top:20px;display: block;">Consultar opciones vino alta gama</span>
                        </template>
                      </v-flex>
                    </v-layout>
                  </v-card-text>
                </v-card>
              </v-tab-item>
              </template>
            </v-tabs>
        <v-btn color="success" @click="siguiente">Siguiente</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import TipoDeGastronomia from '~/apollo/queries/categorias_con_items'
  import CargarLineas from '~/apollo/mutations/cargar_lineas'

  //:disabled="form.menus[tab-1].length >= 3 && form.menus[tab-1].indexOf(item.id) === -1"
  export default {
  data() {
    return {
      active: null,
      menus: [{},{},{},{}],
      form: {
        entradas: ["","","",""],
        principales: ["","","",""],
        postres: ["","","",""],
        menus: [[],[],[],[]]
      }
    };
  },
  methods: {
    deselect(categoria, index) {
      this.form[categoria][index] = "";
      this.$forceUpdate();
    },
    alcanzoLimite(menu, categoria_id, item_id) {
      let categorias = this.menus[menu].categorias.filter(item => item.esIsla === false).map(x => x.gastronomias).map(x => x.filter(z => z.categoriaId === parseInt(categoria_id)).map(x => x.id)).filter(x => x.length > 0)
      let ocurrencias = this.form.menus[menu].filter(x => categorias[0].indexOf(x) !== -1);
      return ocurrencias.length >= 3 && this.form.menus[menu].indexOf(item_id) === -1;
    },
    siguiente() {
      let parsedForm = Object.assign({}, this.$data.form);

      // parsedForm.menus.shift();
      this.$store.commit('cotizacion/setCotizacionLinea', {linea: 'menus-adultos', datos: parsedForm});


      const lineas = [];
      this.$data.form.menus.forEach((menu, index) => {
        menu.forEach((item) => {
          console.log('adding item', item);
          if (item !== "" && item !== {})
            lineas.push({
              cotizacionId: this.$store.state.cotizacion.id,
              gastronomiaId: item,
              categoriaId: this.menus[index].id,
              valor: null,
              cantidad: null
            });
        });
      });
      console.log(lineas);

      this.$data.form.entradas.forEach((item, index) => {
        console.log('adding item entrada', item);

        if (item !== "" && item !== {})

          lineas.push({
            cotizacionId: this.$store.state.cotizacion.id,
            gastronomiaId: item,
            categoriaId: this.menus[index].id,
            valor: null,
            cantidad: null
          });
      });

      this.$data.form.principales.forEach((item, index) => {
        console.log('adding item principales', item);

        if (item !== "" && item !== {})
          lineas.push({
            cotizacionId: this.$store.state.cotizacion.id,
            gastronomiaId: item,
            categoriaId: this.menus[index].id,
            valor: null,
            cantidad: null
          });
      });

      this.$data.form.postres.forEach((item, index) => {
          console.log('adding item postres', item);

        if (item !== "" && item !== {})
          lineas.push({
            cotizacionId: this.$store.state.cotizacion.id,
            gastronomiaId: item,
            categoriaId: this.menus[index].id,
            valor: null,
            cantidad: null
          });
      });

      this.$apollo.mutate({
        mutation: CargarLineas,
        variables: {
          categoriaId: this.menus.map(x => x.id).filter(x => x).join('|'),
          cotizacionId: this.$store.state.cotizacion.id,
          lineas: lineas
        }
      }).then((data) => {
        this.$toast.success(data.data.cargarLineas.message);
        this.$router.push('/gastronomia/menu-infantil')
      }).catch((data) => {
        this.$toast.success(data.data.cargarLineas.message);
      });

    }
  },
  apollo: {
    menu1: {
      prefetch: true,
      query: TipoDeGastronomia,
      variables: {
        nombre: 'Menú Adultos - Menú 1'
      },
      manual: true,
      result({data, loading}) {
        if (!loading) {

          this.form.menus[0] = [];
          this.form.entradas[0] = "";

          if (this.$store.state.cotizacion.lineas['menus-adultos']) {
            this.form.menus[0] = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas['menus-adultos'].menus[0]));
            this.form.entradas[0] = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas['menus-adultos'].entradas[0]));
            this.form.principales[0] = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas['menus-adultos'].principales[0]));
            this.form.postres[0] = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas['menus-adultos'].postres[0]));
          }
          this.menus[0] = data.categoriaGastronomia;
          this.$forceUpdate();
        }
      }
    },
    menu2: {
      prefetch: true,
      query: TipoDeGastronomia,
      variables: {
        nombre: 'Menú Adultos - Menú 2'
      },
      manual: true,
      result({data, loading}) {
        if (!loading) {
          this.form.menus[1] = [];
          if (this.$store.state.cotizacion.lineas['menus-adultos']) {
            this.form.menus[1] = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas['menus-adultos'].menus[1]));
            this.form.entradas[1] = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas['menus-adultos'].entradas[1]));
            this.form.principales[1] = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas['menus-adultos'].principales[1]));
            this.form.postres[1] = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas['menus-adultos'].postres[1]));
          }
          this.menus[1] = data.categoriaGastronomia;
          this.$forceUpdate();
        }
      }
    },
    menu3: {
      prefetch: true,
      query: TipoDeGastronomia,
      variables: {
        nombre: 'Menú Adultos - Menú 3'
      },
      manual: true,
      result({data, loading}) {
        if (!loading) {
          this.form.menus[2] = [];
          this.menus[2] = data.categoriaGastronomia;
          if (this.$store.state.cotizacion.lineas['menus-adultos']) {
            this.form.menus[2] = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas['menus-adultos'].menus[2]));
            this.form.entradas[2] = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas['menus-adultos'].entradas[2]));
            this.form.principales[2] = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas['menus-adultos'].principales[2]));
            this.form.postres[2] = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas['menus-adultos'].postres[2]));
          }
          this.$forceUpdate();
        }
      }
    }
  }
};
</script>

<style scoped>
  .opcion1 {
    padding-top: 0
  }

</style>
