<template>
  <v-container grid-list-md>
    <v-layout row>
      <v-flex xs8 v-if="categoriaGastronomia.gastronomias">
        <v-card flat>
          <v-card-text class="px-4">
            <h1>Gastronomía</h1>
            <h2>Mesa Dulce</h2>
            <v-layout column>
              <v-flex xs3 v-for="categoria  in categoriaGastronomia.categorias" :key="categoria.id" v-if="categoria.esIsla === true">
                <v-checkbox
                  v-if="categoria.esIsla"
                  :key="categoria.id"
                  :label="categoria.nombre"
                  hide-details
                  v-model="form.gastronomias"
                  :value="categoria.id"
                ></v-checkbox>

                <ul v-if="categoria.esIsla">
                  <li
                    v-for="item in categoria.gastronomias"
                    :key="item.id"
                  ><v-icon>done</v-icon>
                    {{item.nombre}}
                  </li>
                </ul>
              </v-flex>
              <!--<v-flex xs6>
                <h2>Incluye</h2>
                <ul>
                  <li><v-icon>done</v-icon> Variedad de Mini Tartaletas</li>
                  <li><v-icon>done</v-icon> asdasdas</li>
                  <li><v-icon>done</v-icon> qweqwe</li>
                </ul>
              </v-flex>-->
            </v-layout>
          </v-card-text>
        </v-card>
        <v-btn color="success" @click="siguiente">Siguiente</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import TipoDeGastronomia from '~/apollo/queries/categorias_con_items'
  import CargarLineas from '~/apollo/mutations/cargar_lineas'

  export default {
    data() {
      return {
        categoriaGastronomia: {},
        form: {
          gastronomias: []
        }
      };
    },
    apollo: {
      categoriaGastronomia: {
        prefetch: true,
        query: TipoDeGastronomia,
        variables: {
          nombre: 'Mesa Dulce.'
        }
      }
    },
    mounted() {
      if (this.$store.state.cotizacion.lineas['mesa-dulce']) {
        this.$data.form.gastronomias = JSON.parse(JSON.stringify(this.$store.state.cotizacion.lineas['mesa-dulce'].gastronomias));
      }
    },
    methods: {
      siguiente() {
        this.$store.commit('cotizacion/setCotizacionLinea', {linea: 'mesa-dulce', datos: JSON.parse(JSON.stringify(this.form))});

        const gastronomias = [];

        this.form.gastronomias.forEach((item) => {
          gastronomias.push({
            cotizacionId: this.$store.state.cotizacion.id,
            gastronomiaId: 0,
            categoriaId: item,
            valor: null,
            cantidad: null
          });
        });

        this.$apollo.mutate({
          mutation: CargarLineas,
          variables: {
            categoriaId: this.categoriaGastronomia.id,
            cotizacionId: this.$store.state.cotizacion.id,
            lineas: gastronomias
          }
        }).then((data) => {
          this.$toast.success(data.data.cargarLineas.message);
          this.$router.push('/gastronomia/fin-de-fiesta')
        }).catch((data) => {
          this.$toast.success(data.data.cargarLineas.message);
        });
      }
    }
  };
</script>

<style scoped>
  .opcion1 {
    padding-top: 0
  }
</style>
