{% load static %}
<html>

<head>
  <title>Cotizacion</title>
  <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.2/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.2/dist/semantic.min.js"></script>
  -->
  <style>
    @media print {
      @page {
        margin: 0 !important;
        padding: 0 !important;
        size: legal portrait;
        @bottom-center {
          /*content: counter(page) " of " counter(pages);*/
          content: "";
        }
      }
    }
    
    
    html, body {
      margin: 0 !important;
      padding: 0 !important;
    }
    body {
      background-color: #fff;
    }

    .list > .item {
      font-size: 12px;
    }
    .column {
      margin-left: -3px
    }
    .evento > .column {
      min-width: 90px;
      text-align: center;
      font-size: 12px
    }
    .evento strong, .evento img {
      display: block;
      text-align: center;
    }

    
  </style>

</head>

<body>
  
  <div class="ui center aligned grid">
    <div class="six wide column">
        <img class="ui left aligned " src="{% static "LASHAYAS_cotizador_pdf_logo.jpg" %}" style="max-width:200px" alt="Logo" />
    </div>
    <div class="five wide column"></div>
    <div class="five wide column">
      <div class="ui left aligned basic segment">
        <div class="ui list">
          <div class="item"><strong>Contacto</strong></div>
          <div class="item">Luis F. Martial 1650,</div>
          <div class="item">9410, Ushuaia, TDF</div>
          <div class="item">02901 442000</div>
          <div class="item">eventos@lashayas.com.ar</div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui grid">
    <div class="eleven wide left aligned column">
        <h1 style="text-align: left; padding-left: 20px">Cotización de Evento</h1>
    </div>
    <div class="five wide column">
      <div class="ui left aligned basic segment">
        <div class="ui list">
            <div class="item"><strong>Cotización realizada por:</strong></div>
            <div class="item">Usuario</div>
            <div class="item">Pagina 1 de 3</div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui container">
      <div class="ui grid">
          <div class="column">
              <h5>Cliente</h5>
              <div class="ui list">
                  <div class="item"><strong>Nombre y Apellido</strong>: {{cliente.nombre}}</div>
                  <div class="item"><strong>Email</strong>: {{cliente.email}}</div>
                  <div class="item"><strong>Teléfono</strong>: {{cliente.telefono}}</div>
                  <div class="item"><strong>Observaciones</strong>: {{cotizacion.observaciones}}</div>
              </div>
          </div>
      </div>
  </div>
        
  <div class="ui container">
    <h5>EVENTO</h5>
    <div class="ui equal width grid evento">
      <div class="column">
        <img src="{% static 'fecha_evento.jpg'%}" style="width: 60px" />
        <strong>Fecha evento</strong>
        <p>{{ cotizacion.fecha }}</p>
      </div>
      <div class="column">
        <img src="{% static 'cantidad_personas.jpg'%}" style="width: 60px" />
        <strong>Cant. Personas</strong>
        <strong>Adultos:</strong> {{cotizacion.cantidad_adultos}}
        <strong>Menores:</strong> {{cotizacion.cantidad_menores}}
        <strong>Infantes:</strong> {{cotizacion.cantidad_menores_de_4}}
      </div>
      <div class="column">
        <img src="{% static 'tipo_de_evento.jpg'%}" style="width: 60px" />
        <strong>Tipo de Evento</strong>
        <p>{{cotizacion.tipo_de_evento}}</p>
      </div>
      <div class="column">
        <img src="{% static 'formato.jpg'%}" style="width: 60px" />
        <strong>Formato</strong>
        <p>{{cotizacion.formato}}</p>
      </div>
      <div class="column">
        <img src="{% static 'lugar.jpg'%}" style="width: 60px" />
        <strong>Lugar</strong>
        <p>{{cotizacion.salon}}</p>
      </div>
      <div class="column">
        <img src="{% static 'escenario_tarima.jpg'%}" style="width: 60px" />
        <strong>Escenario / Tarima</strong>
        <p>{{cotizacion.escenario}}</p>
      </div>
    </div>
  </div>

  <div class="ui container">
    <h5>GASTRONOMÍA <small>(Ver detalle en siguiente hoja)</small></h5>
    <div class="ui equal width grid evento">
      {% for categoria in cotizacion.categorias %}
      <div class="column">
        {% if categoria.imagen %}
          <img src="{% static categoria.imagen %}" style="width: 60px" />
        {% endif %}
        <strong>{{ categoria.nombre }}</strong>
        <p></p>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="ui container">
    <h5>ORGANIZACIÓN ESTIMATIVA DEL SALÓN (Ver última hoja)</h5>
  </div>

  <div class="ui container">
    <h5>COTIZACIÓN FINAL</h5>
    <p>TOTAL: ${{cotizacion.total}}.-</p>
    <p>Formas de pago disponibles:</p>
    <p>- xxxxx xxxx xxx xx</p>
    <p>- xxxxx xxxx xxx xx</p>
    <p>- xxxxx xxxx xxx xx</p>
    <p>Validez presupuesto: hasta el {{cotizacion.valido_hasta}}.</p>

  </div>

  <p style="page-break-after: always;">&nbsp;</p>

  asdasd


</body>

</html>