<template>
  <v-container grid-list-md>
    <v-layout row>

      <v-flex xs12 v-if="!cotizacion.cliente">
        <div class="text-xs-center">
          <v-progress-circular
            :size="50"
            color="primary"
            indeterminate
          ></v-progress-circular>
        </div>
      </v-flex>
      <v-flex xs12 v-if="cotizacion.cliente">

        <v-card flat>

          <v-card-text class="px-4">
            <h1>Cotizacion N° {{cotizacionId}}</h1>
            <h2>DATOS CLIENTE</h2>

            <ul>
              <li><strong>Nombre y Apellido: </strong>{{cotizacion.cliente.nombreCompleto}}</li>
              <li><strong>E-mail: </strong>{{cotizacion.cliente.email}}</li>
              <li><strong>Teléfono: </strong>{{cotizacion.cliente.telefono}}</li>
            </ul>

            <h2>DATOS DEL EVENTO</h2>

            <ul>
              <li><strong>Fecha Evento: </strong>{{cotizacion.fechaFormateada}}</li>
              <li><strong>Cantidad de Personas: </strong>{{cotizacion.cantidadDePersonas}}</li>
              <li><strong>Cantidad de Adultos: </strong>{{cotizacion.cantidadAdultos}}</li>
              <li><strong>Cantidad de Menores (De 4 a 16): </strong>{{cotizacion.cantidadMenores}}</li>
              <li><strong>Cantidad de Menores de 4: </strong>{{cotizacion.cantidadMenoresDe4}}</li>
              <li><strong>Tipo de Evento: </strong>{{cotizacion.tipoDeEvento.nombre}}</li>
              <li><strong>Formato: </strong>{{cotizacion.formato.nombre}}</li>
              <li><strong>Salón: </strong>{{cotizacion.salon.nombre}}</li>
              <li><strong>Escenario: </strong>{{cotizacion.escenario.nombre}}</li>
              <li><strong>Observaciones: </strong>{{cotizacion.observaciones}}</li>
            </ul>

            <h2>GASTRONOMÍA</h2>
            <template v-for="cotizacion in cotizacionPorCategoria" >
              <h3 :key="cotizacion.id"><strong>{{cotizacion.categoria}}</strong></h3>
              <ul :key="cotizacion.id">
                <li v-for="subcategoria in cotizacion.subcategorias" :key="subcategoria.id">
                  {{subcategoria.nombre}} - {{subcategoria.descripcion}}
                  <ul>
                    <li v-for="item in subcategoria.items" :key="item.id">
                      {{item.nombre}}
                      </li>
                    </ul>
                  </li>
              </ul>
            </template>
            <h2>COTIZACIÓN FINAL</h2>
            <ul>
              <li class="pa-2"><strong>SALON: ${{cotizacion.salon.costo}}</strong></li>
              <li class="pa-2"><strong>ESCENARIO: ${{cotizacion.escenario.costo}}</strong></li>
              <li class="pa-2"><strong>TOTAL ADULTOS: ${{cotizacion.totalAdultos}}</strong></li>
              <li class="pa-2"><strong>TOTAL MENORES (DE 4 A 16): ${{cotizacion.totalMenores}}</strong></li>
              <li class="pa-2 total"><strong>TOTAL: ${{cotizacion.total}}</strong></li>
              <!--<li class="pa-2 formaDePago"><strong>Forma de pago: xxxxx</strong></li>
              <li class="pa-2 validezPresupuesto"><strong>Validez de presupuesto: xxxxx</strong></li>-->
            </ul>

            <h2>CONDICIONES GENERALES</h2>
            <ul>
              <li>- Validez presupuesto por 30 días</li>
              <li>- Forma de pago: a convenir</li>
              <li>- Todos los precios son finales, en pesos y con impuestos incluidos.</li>
              <li>- No se incluyen aranceles de SADAIC ni ADICAPIF. De corresponder, corren por cuenta de los
                organizadores.
              </li>
              <li>- Ponemos a nuestra disposición, a todo nuestro equipo para colaborar en lo que necesiten, a fin de
                que el evento sea un éxito y que la experiencia de los asistentes en el Fin del Mundo sea inolvidable.
              </li>
            </ul>
          </v-card-text>
        </v-card>
        <!--<v-btn small class="guardarCotizacion" @click="guardar">GUARDAR COTIZACION</v-btn>-->
        <!-- <v-btn small @click="imprimir">IMPRIMIR COTIZACION</v-btn> -->
        <v-btn small color="info" @click="imprimir2">IMPRIMIR COTIZACION</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import Cotizacion from '~/apollo/queries/cotizacion'
  import CotizacionPorCategoria from '~/apollo/queries/cotizacion_por_categoria'

  export default {
    data() {
      return {
        cotizacion: {},
        cotizacionPorCategoria: [],
        form: {
          gastronomias: []
        }
      };
    },
    computed: {
      cotizacionId: function() { return this.$store.state.cotizacion.id },
      datos: function() {
        return this.$store.state.cotizacion.datos
      },
      cantidadPersonas: function() {
        return parseInt(this.datos.cantidadMenores) + parseInt(this.datos.cantidadAdultos) + parseInt(this.datos.cantidadMenoresDe4)
      }
    },
    methods: {
      guardar: function(){},
      imprimir: function(){
        window.open('/imprime/' + this.$store.state.cotizacion.id)
      },
      imprimir2: function(){
        window.open('/imprime5/' + this.$store.state.cotizacion.id)
      }
    },
    apollo: {
      cotizacion: {
        prefetch: true,
        query: Cotizacion,
        fetchPolicy: 'no-cache',
        variables() {
          return {
            id: this.cotizacionId
          }
        }
      },
      cotizacionPorCategoria: {
        prefetch: true,
        query: CotizacionPorCategoria,
        fetchPolicy: 'no-cache',
        variables() {
          return {
            id: this.cotizacionId
          }
        }
      }
    }
  };
</script>

<style scoped>
  ul { margin-bottom: 20px; }
  h2 { margin-bottom: 20px; }
  .total {
    background-color: #bfae82;
  }
  .guardarCotizacion {
    background-color: #bfae82 !important;
    color: white;
  }
</style>
