<template>
  <v-container grid-list-md>
    <v-layout row>
      <v-flex xs5>
        <v-card flat>
          <v-card-text class="px-4">
            <h1>Datos Cliente</h1>
            <v-form v-model="valid">
              <v-text-field
                label="Nombre"
                v-model="form.nombre"
                :disabled="guardada"
                required
              ></v-text-field>
              <v-text-field
                label="Apellido"
                v-model="form.apellido"
                :disabled="guardada"
                required
              ></v-text-field>
              <v-text-field
                label="E-mail"
                v-model="form.email"
                :disabled="guardada"
                required
              ></v-text-field>
              <v-text-field
                label="Teléfono"
                v-model="form.telefono"
                :disabled="guardada"
                required
              ></v-text-field>
              <v-menu
                ref="menu"
                lazy
                :close-on-content-click="true"
                v-model="menu"
                transition="scale-transition"
                offset-y
                full-width
                :nudge-right="40"
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  label="Fecha del Evento *"
                  v-model="form.date"
                  prepend-icon="event"
                  :disabled="guardada"
                  readonly
                ></v-text-field>
                <v-date-picker locale="es-es" v-model="form.date" scrollable :disabled="guardada">
                  <!--<v-spacer></v-spacer>
                  <v-btn flat color="primary" @click="menu = false">Cancelar</v-btn>
                  <v-btn flat color="primary" @click="$refs.menu.save">OK</v-btn>-->
                </v-date-picker>
              </v-menu>
              <v-text-field
                name="input-7-1"
                label="Observaciones"
                v-model="form.observaciones"
                :disabled="guardada"
                multi-line
              ></v-text-field>
            </v-form>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs7>
        <v-card flat>
          <v-card-text class="px-4">
            <h1>Datos Evento</h1>
            <label>Cantidad Personas</label>
            <v-layout row wrap>
              <v-flex xs12 sm4>
                <v-text-field
                  label="Adultos"
                  v-model="form.cantidadAdultos"
                  type="number"
                  :disabled="guardada"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm4>
                <v-text-field
                  label="Menores (4 a 16 años)"
                  v-model="form.cantidadMenores"
                  type="number"
                  :disabled="guardada"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm4>
                <v-text-field
                  label="Menores 4 años"
                  v-model="form.cantidadMenoresDe4"
                  type="number"
                  :disabled="guardada"
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-select
              :items="tipoDeEventos"
              v-model="form.tipoDeEventoId"
              label="Tipo de Evento *"
              placeholder="Seleccione un Tipo de Evento"
              dense
              clearable
              item-text="nombre"
              item-value="id"
              :disabled="guardada"
            ></v-select>
            <v-select
              :items="formatos"
              v-model="form.formatoId"
              label="Formato *"
              placeholder="Seleccione un Formato"
              dense
              clearable
              item-text="nombre"
              item-value="id"
              :disabled="guardada"
            ></v-select>
            <v-select
              :items="salones"
              v-model="form.salonId"
              label="Salón *"
              placeholder="Seleccione un Salón"
              dense
              clearable
              item-text="nombre"
              item-value="id"
              :disabled="guardada"
            ></v-select>

            <label>Escenario / Tarima</label>
            <v-subheader>¿Desea colocar un escenario / tarima?</v-subheader>

            <v-radio-group v-model="form.escenarioId">
              <v-radio
                v-for="n in escenarios"
                :key="n.nombre"
                :label="radioLabel(n)"
                :value="n.id"
                :disabled="guardada"
              ></v-radio>
            </v-radio-group>


          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout row justify-end>
      <v-flex xs2>
        <v-btn color="success" @click="siguiente">Siguiente</v-btn>
      </v-flex>
    </v-layout>
  </v-container>

</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'

import TipoDeEventos from '~/apollo/queries/tipo_de_eventos'
import Formatos from '~/apollo/queries/formatos'
import Salones from '~/apollo/queries/salones'
import Escenarios from '~/apollo/queries/escenarios'
import CotizacionMutation from '~/apollo/mutations/cotizacion'

export default {
  components: {
    Logo,
    VuetifyLogo
  },
  data() {
    return {
      form: {
        nombre: null,
        apellido: null,
        date: "",
        telefono: null,
        observaciones: null,
        escenarioId: 0,
        cantidadAdultos: 0,
        cantidadMenores: 0,
        cantidadMenoresDe4: 0,
        tipoDeEventoId: 0,
        formatoId: 0,
        salonId: 0
      },
      menu: false,
      modal: false,
      valid: false,
      guardada: false,
      tipoDeEventos: [],
      formatos: [],
      salones: [],
      escenarios: []
    }
  },
  mounted() {
    if (this.$store.state.cotizacion.id != null) {
      this.$data.guardada = true;
      this.$data.form = JSON.parse(JSON.stringify(this.$store.state.cotizacion.datos));
    }
  },
  apollo: {
    tipoDeEventos: {
      prefetch: true,
      query: TipoDeEventos
    },
    formatos: {
      prefetch: true,
      query: Formatos
    },
    salones: {
      prefetch: true,
      query: Salones
    },
    escenarios: {
      prefetch: true,
      query: Escenarios
    }
  },
  methods: {
    saveDate (date) {
      this.$refs.menu.save(date)
    },
    radioLabel(item) {
      return item.descripcion !== undefined ? `${item.nombre} ${item.descripcion}` : item.nombre
    },
    siguiente() {
      if (this.$store.state.cotizacion.id != null) {
        this.$router.push('/gastronomia/coffee-break');
      } else {
        this.$store.commit('cotizacion/setCotizacion', {...this.form});
        this.$apollo.mutate({
          mutation: CotizacionMutation, variables: {
            nombre: this.$data.form.nombre,
            apellido: this.$data.form.apellido,
            email: this.$data.form.email,
            telefono: this.$data.form.telefono,
            fecha: this.$data.form.date,
            formatoId: parseInt(this.$data.form.formatoId),
            salonId: parseInt(this.$data.form.salonId),
            tipoDeEventoId: parseInt(this.$data.form.tipoDeEventoId),
            escenarioId: parseInt(this.$data.form.escenarioId),
            cantidadAdultos: parseInt(this.$data.form.cantidadAdultos),
            cantidadMenores: parseInt(this.$data.form.cantidadMenores),
            cantidadMenoresDe4: parseInt(this.$data.form.cantidadMenoresDe4),
            observaciones: this.$data.form.observaciones || ""
          }
        }).then((data) => {
          this.$store.commit('cotizacion/setCotizacionId', data.data.crearCotizacion.cotizacion.id);
          this.$toast.success('Cotizacion creada correctamente.');
          this.$router.push('/gastronomia/coffee-break');
        }).catch((error) => {
          this.$toast.error("Ocurrio un error, intente nuevamente");
        })
      }
    }
  }
}
</script>
