<template>
  <v-app>

    <v-navigation-drawer
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      class="teal darken-4"
      dark
      fixed
      app
    >
          <img src="~/static/LASHAYAS_logo_v.png" alt="Las Hayas" style="height: 180px; display:block; margin: 10px auto"/>
      <v-list>
        <template v-for="item in items">
          <v-list-tile :key="item.title" v-if="!item.items" :to="item.to" nuxt>
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-group
            v-model="item.active"
            :key="item.title"
            :prepend-icon="item.icon"
            v-if="item.items"
            no-action
          >
            <v-list-tile slot="activator">
              <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile v-for="subItem in item.items" :key="subItem.title" :to="subItem.to">
              <v-list-tile-content>
                <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon>{{ subItem.icon }}</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list-group>
        </template>

      </v-list>
    </v-navigation-drawer>
    <v-toolbar fixed app :clipped-left="clipped">
      <v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
      <v-btn
        icon
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
      </v-btn>
      <v-btn
        icon
        @click.stop="clipped = !clipped"
      >
        <v-icon>web</v-icon>
      </v-btn>
      <!--<v-btn
        icon
        @click.stop="fixed = !fixed"
      >
        <v-icon>remove</v-icon>
      </v-btn>-->
      <v-toolbar-title v-text="titulo"></v-toolbar-title>
      <!--<v-spacer></v-spacer>
      <v-btn
        icon
        @click.stop="rightDrawer = !rightDrawer"
      >
        <v-icon>menu</v-icon>
      </v-btn>-->
      <v-spacer></v-spacer>
      <v-btn color="error" @click="resetearCotizacion">
        Resetear Cotización
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <!--<v-navigation-drawer
      temporary
      :right="right"
      v-model="rightDrawer"
      fixed
    >
      <v-list>
        <v-list-tile @click.native="right = !right">
          <v-list-tile-action>
            <v-icon light>compare_arrows</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Switch drawer (click me)</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>-->
    <!--<v-footer :fixed="fixed" app>
      <span>&copy; 2018</span>
    </v-footer>-->
  </v-app>
</template>

<script>
  export default {
    computed: {
      titulo() { return this.title + " v" + this.version},
    },
    data() {
      return {
        clipped: false,
        drawer: true,
        fixed: false,
        items: [
          {
            title: "Tipo de Evento",
            icon: 'dashboard',
            to: "/"
          },{
            icon: 'restaurant',
            title: 'Gastronomía',
            active: true,
            items: [
              { title: 'Coffee Break', icon: "keyboard_arrow_right", to: "/gastronomia/coffee-break" },
              { title: 'Menús Adultos', icon: "keyboard_arrow_right", to: '/gastronomia/menus-adultos' },
              { title: 'Menú Infantil / Adolescente', icon: "keyboard_arrow_right", to: '/gastronomia/menu-infantil' },
              { title: 'Buffet por islas', icon: "keyboard_arrow_right", to: '/gastronomia/buffet-por-islas' },
              { title: 'Buffet', icon: "keyboard_arrow_right", to: '/gastronomia/buffet' },
              { title: 'Finger Food', icon: "keyboard_arrow_right", to: '/gastronomia/finger-food' },
              { title: 'Cocktail', icon: "keyboard_arrow_right", to: '/gastronomia/cocktail' },
              { title: 'Ejecutivo', icon: "keyboard_arrow_right", to: '/gastronomia/ejecutivo' },
              { title: 'Brindis', icon: "keyboard_arrow_right", to: '/gastronomia/brindis' },
              { title: 'Barra de tragos', icon: "keyboard_arrow_right", to: '/gastronomia/barra-de-tragos' },
              { title: 'Mesa Dulce', icon: "keyboard_arrow_right", to: '/gastronomia/mesa-dulce' },
              { title: 'Fin de Fiesta', icon: "keyboard_arrow_right", to: '/gastronomia/fin-de-fiesta' }
            ]
          }, {
            icon: 'credit_card',
            title: 'Cotizacion',
            active: false,
            to: '/cotizacion',
            disabled: !Object.keys(this.$store.state.cotizacion.lineas).length > 0
          }
        ],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Cotizador de Eventos',
        version: '1.0'
      }
    },
    methods: {
      clickItem(e) {
        console.log(e)
      },
      resetearCotizacion() {
        this.$store.commit('cotizacion/clearCotizacion');
        location.href = '/';

      }
    }
  }
</script>
