<template>
  <v-select
    item-text="nombre"
    item-value="id"
    :items="items"
    :label="label"
    :placeholder="placeholder"
    :dense="dense"
    :clearable="clearable"
    :v-model="v-model"
  ></v-select>
</template>

<script>
    export default {
      props: [
        "items",
        "label",
        "placeholder",
        "dense",
        "clearable",
        "v-model"
      ],
        name: "n-select"
    }
</script>

<style scoped>

</style>
